.taskListItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #eee;
  border: 2px solid #222;
  font-family: sans-serif;
  margin: 0.5rem 1.5rem;
}

.taskListItem:hover {
  background: #ddd;
}

.taskData {
  display: flex;
  flex-direction: column;
}

.tasksCheckbox {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.header {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.isDoneLabel {
  font-size: 18px;
  margin-right: 1rem;
}